<!DOCTYPE html>
<html>

<head>
    <style type='text/css'>
        @font-face {
           font-family: 'Helvetica, Verdana, Arial, sans-serif';
           font-size: 12pt;
           font-style: normal;
       }
    </style>
</head>

<body>
<div>
    <header>
        <h1>A new public IP address detected!</h1>
    </header>
    <main>
        <div>Your new public IP address is {{ detected_ip }}.
            {% if success %}
            {{ dns_record }} DNS record has been successfully updated.
            {% else %}
            <b>Failed to update</b> {{ dns_record }} DNS record.
            {% endif %}
        </div>
    </main>

    <footer>
        <div style="font-size: 7pt; margin-top: 10px;">
            This email was sent from <i>{{ product_name }}</i>.
        </div>
    </footer>
</div>
</body>

</html>
